<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Weather Data Visualization{% endblock %}</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/icons8-partly-cloudy-day-color-glass-16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/icons8-partly-cloudy-day-color-glass-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/icons8-partly-cloudy-day-color-glass-96.png"
    />

    <!-- D3 v6+ -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Sidebar: Cleaning nav icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="app-layout">
      {% include '_sidebar.html' %}

      <!-- Main area -->
      <div class="main-area">
        <button
          id="navbar-menu-btn"
          class="navbar-menu-btn"
          type="button"
          aria-label="Toggle menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          >
            <line x1="4" x2="20" y1="12" y2="12" />
            <line x1="4" x2="20" y1="6" y2="6" />
            <line x1="4" x2="20" y1="18" y2="18" />
          </svg>
        </button>
        <main id="app" class="main-content">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>

    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>
